<%= link_to "新規 ", new_recipe_path, method: :get%>

<% recipes.each do |recipe| %>
  <table class="table">
    <tr>
      <td><%= link_to recipe.recipe_name, recipe_path(recipe.id), method: :get %></td>
    </tr>
  </table>
<% end %>