<%= link_to "新規 ", new_recipe_path, method: :get%>

<% recipes.each do |recipe| %>
  <div class="card mb-3" style="max-width: 800px;">
    <div class="row no-gutters recipe__index">
      <div class="col-4">
          <%= link_to recipe_path(recipe.id), method: :get do %>
            <%= attachment_image_tag recipe, :recipe_image, :fill, 265,200, format: 'jpeg', class: "" %>
          <% end %>
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.recipe_name %></h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
