<div class="row recipe">
  <div class ="col-md-2 col-sm-12 category__sidebar">
    <%= render "categories/sidebar", categories: @categories%>
  </div>
  <div class ="col-md-10">
    <%= render "tips/tips", tip: @tip %>
    <div class="recipe__box">
      <h3 class="">料理一覧</h3>
      <%= render "recipes/index", recipes: @recipes %>
    </div>
  </div>
</div>