<div class="home__top row align-items-center">
  <div class="col text-center">
  <h1 class="home__top--main-text">MUSCLE SUPPORT</h1>
  <p class="home__top--sub-text">自分を美しくする、全ての人たちへ。</p>
  </div>
</div>