/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

header{
  background-color: #3a4750;
  margin-bottom: 20px;
}

footer{
  background-color: #3a4750;
  display: flex;
  justify-content: center;
  h1{
    color: #dcddde;
  }
}

.head{
  background-color: #3a4750;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__search{
    
    form{
      display: flex;
      select{
        margin-left: 20px;
      }
      i{
       color: #dcddde;
       font-size: 20px;
      }
    }
  }

  ul{
    display: flex;
    li{
      list-style: none;
      display: flex;
      margin: 20px 20px 10px 10px;
      a{
        color: #dcddde;
        font-size: 20px;
      }
    }
  }
}

.tip{
  background-color: #ffac3796;
}