// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.food{

  &__text{
    display: flex;
    justify-content: space-between;
  }
  &__box{
    position: relative;
  }
  &__icon{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: #3a4750;
  }
  img{
    object-fit: cover;
  }
}

@media screen and (max-width:375px) {
  .food{
    &__text{
      font-size: 12px;
    }
    .card-title{
      font-size: 18px;
    }
    .card-subtitle{
      font-size: 12px;
    }
    .col-6{
      padding: 5px;
    }
  }
}

