// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.food{
   position: relative;
  &__text{
    display: flex;
    justify-content: space-between;
  }
  &__icon{
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
    color: #b9c1ca;
  }
}
  
