// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
  width: 100%;
  height: 100%;
  background-image: image-url("mana.jpg");
  background-size: cover;
  &__top{
    width: 100%;
    height: 750px;
    margin: 0 auto;
    &--main-text{
      font-size: 80px;
    }
    &--sub-text{
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 425px) {

  
}
