// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
  width: 100%;
  min-height: 700px;
  background-image: image-url("mana.jpg");
  background-size: cover;
  &__top{
    width: 100%;
    height: 750px;
    margin: 0 auto;
    &--text-main{
      font-size: 80px;
    }
    &--text-sub{
      font-size: 30px;
    }
  }
  &__about{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    &--text-main{
      font-size: 80px;
    }
    &--text-sub{
      font-size: 20px;
    }
    &--text-etc{
      font-size: 17px;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 375px) {
  .home{
    &__top{
      height: 400px;
      &--text-main{
        font-size: 60px;
      }
      &--text-sub{
        font-size: 20px;
      }
    }
    &__about{
      &--text-main{
        font-size: 60px;
      }
      &--text-sub{
        font-size: 15px;
      }
      &--text-etc{
        font-size: 15px;
      }
    }
  }
}
