// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
  &__right{
    position: relative;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
  }
  &__icon{
    position: absolute;
    top: 2px;
    right: 14px;
    font-size: 30px;
    color: #b9c1ca;
  }
  &__left{
    img{
      height: 75%;
      width: 100%;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}